body {
  background-color: rgb(240, 240, 240);
}

header {
  text-align: center;
  font-size: 5vh;
  background-color: white;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  border-bottom: 1px solid black;
  padding: 0 0 1vh 0;
}

h1 {
  margin: 5vh auto;
  background-color: black;
  color: white;
  width: 15vh;
  text-align: center;
  border-radius: 3px;
  font-size: 4vh;
}

.one-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow-y: scroll;
  height: 70vh;
  border: 1px solid black;
  width: 90%;
}

.list-one {
  margin: 5vh 2vh 0 7vh;
  text-align: center;
  width: 50vh;
  height: 20vh;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  font-size: 2.5vh;
}

h2 {
  margin: 10vh auto;;
  background-color: black;
  color: white;
  width: 15vh;
  text-align: center;
  border-radius: 3px;
  font-size: 4vh;
}

.two-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh auto;
  overflow-y: scroll;
  height: 70vh;
  border: 1px solid black;
  width: 90%;

}

.list-two {
  margin: 5vh 2vh 0 7vh;
  text-align: center;
  width: 50vh;
  height: 20vh;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.164);
  font-size: 2.5vh;

}





